body {
  background-color: #cbd9ca;
  box-sizing: border-box;
  margin: 0;
  color: #295569;
  font-family: Courgette, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6957c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc675d; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
